.alert-Error {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.alert-Success {
    padding: 20px;
    background-color: #4cf436; /* green */
    color: white;
    margin-bottom: 15px;
}

:root {
    background-color: white !important;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}